@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-[#F1F5F9];
    }
}

@layer components {
    .prose h3 {
        @apply border-l-4 border-[#1A73E8] bg-blue-50 pl-4 py-2 text-2xl font-bold text-gray-800 rounded-r-lg mb-4 mt-8 block;
    }

    .bg-home-dark {
        background-color: #030303;
        background-image:
            radial-gradient(circle at 0% 0%, rgba(139, 92, 246, 0.25) 0%, transparent 50%),
            radial-gradient(circle at 100% 100%, rgba(59, 130, 246, 0.25) 0%, transparent 50%);
        background-attachment: fixed;
    }

    .bg-home-dark-alt {
        background-color: #0c0c0c;
        background-image:
            radial-gradient(circle at 100% 0%, rgba(139, 92, 246, 0.15) 0%, transparent 50%),
            radial-gradient(circle at 0% 100%, rgba(59, 130, 246, 0.15) 0%, transparent 50%);
        background-attachment: fixed;
    }
}

@layer utilities {
    .animation-delay-2000 {
        animation-delay: 2s;
    }

    .animation-delay-4000 {
        animation-delay: 4s;
    }

    .animate-blob {
        animation: blob 7s infinite;
    }
}

@keyframes blob {
    0% {
        transform: translate(0px, 0px) scale(1);
    }

    33% {
        transform: translate(30px, -50px) scale(1.1);
    }

    66% {
        transform: translate(-20px, 20px) scale(0.9);
    }

    100% {
        transform: translate(0px, 0px) scale(1);
    }
}